<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<ul class="nav">
    <li><a href="/home"><h3>Home</h3></a></li>
    <li><a href="/login"><h3>Login</h3></a></li>
    <li><a href="/account"><h3>Account</h3></a></li>
    <li><a href="/newuser"><h3>Create Account</h3></a></li>
    <li><a href="/logout"><h3>Logout</h3></a></li>
    <li><a href="/lobby"><h3>Lobby</h3></a></li>
</ul>

{% block content%}{% endblock %}

</body>
</html>
