{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}

<h1>Login Page</h1>
    <form class="login", action="/login", method="post">
        Username<input type="text" name="username">
        Password <input type="password" name="password">
        <input type="submit" value="Submit">
    </form>

    <script>
    function badInput() {
        alert("Please use valid Username and Password to log in");
    }
    window.onload = badInput();
    </script>
{% endblock %}